/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
>>>>>>> e4b9738c6f6c944e938e2530d640eeb9e6d6013b
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
