<div fxLayout="column" fxLayoutAlign=" center">
    <div class="divsecond">
        <div style="margin-top: 30px;">
            <img [src]="images" width="550" height="300px" class="images">
        </div>
        <div style="margin-top: 30px;">
            <p>Health Insurance That </p>
            <p>is Right For You</p>
        </div>
    </div>
    <div class="divsecond">
        <div style="margin-top: 30px;">
        </div>
        <div style="margin-top: 30px;">
        </div>
    </div>
</div>