.example-card {
    width: 900px;
    height:500px;
  
  }
  .example-content{
    text-align: center;
   
    width:600px;
   
    
  }
  .list-group-item{
    font-family: "Lucida Console", "Courier New", monospace;
  
  }
  .btn{
 
background: #398ad6;
border: none;
color: white;


text-decoration: none;
font-weight: bold;
transition: all .3s ease-in;

  }
  .btn:hover{
background: transparent;
color: #7F00FF;
border: 2px solid #7F00FF;
  }
  .title{
    font-family: "Times New Roman", Times, serif;
  }
  .example-stepper {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  table {
    width: 100%;
  }
  