eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            exposedHeaders: "*"

      routes:
        - id: purchase-insurance-service
          uri: http://localhost:8084
          predicates:
            - Path=/purchase/**
          filters:
            - RewritePath=/purchase(?<segment>/?.*), $\{segment}

        - id: user-service
          uri: http://localhost:8085
          predicates:
            - Path=/user/**
          filters:
            - RewritePath=/user(?<segment>/?.*), $\{segment}

        - id: authentication-service
          uri: http://localhost:8086
          predicates:
            - Path=/authentication/**
          filters:
            - RewritePath=/authentication(?<segment>/?.*), $\{segment}

        - id: chat-service
          uri: http://localhost:9090
          predicates:
            - Path=/chat/**
          filters:
            - RewritePath=/chat(?<segment>/?.*), $\{segment}

        - id: email-service
          uri: http://localhost:8040
          predicates:
            - Path=/email/**
          filters:
            - RewritePath=/email(?<segment>/?.*), $\{segment}

        - id: insurance-service
          uri: http://localhost:8010
          predicates:
            - Path=/insurance/**
          filters:
            - RewritePath=/insurance(?<segment>/?.*), $\{segment}

        - id: payment-service
          uri: http://localhost:8025
          predicates:
            - Path=/payment/**
          filters:
            - RewritePath=/payment(?<segment>/?.*), $\{segment}

        - id: policy-advisor-service
          uri: http://localhost:8087
          predicates:
            - Path=/advisor/**
          filters:
            - RewritePath=/advisor(?<segment>/?.*),$\{segment}

        - id: recommendation-service
          uri: http://localhost:9999
          predicates:
            - Path=/recommendation/**
          filters:
            - RewritePath=/recommendation(?<segment>/?.*), $\{segment}







