server:
  port: ${API_GATEWAY_PORT:9000}
spring:
  application:
    name: spring-cloud-api-gateway
  main:
    web-application-type: reactive
eureka:
  client:
    serviceUrl:
      defaultZone:  http://localhost:8084/eureka/
    fetchRegistry: true
    registerWithEureka: true
