<div class="container" style="display: inline-block;">
    <button mat-button style="color: black;background-color:skyblue;margin: 20px 0px 0px 50px;font-size: xx-large;
 font-family: 'Times New Roman', Times, serif;font-style: italic;" (click)=" health() ">{{this.types[0]}}</button>
    <button mat-button style="color: black;background-color:skyblue;margin: 20px 0px 0 30px;font-size: xx-large;
     font-family: 'Times New Roman', Times, serif;font-style: italic;" (click)=" other()  ">{{this.types[1]}}</button>
    <button mat-button style="color: black;background-color:skyblue;margin: 20px 0px 0 30px;font-size: xx-large;
     font-family: 'Times New Roman', Times, serif;font-style: italic;" (click)="life()">{{this.types[2]}}</button>
</div>
<div class="row" style="background-color: white;">
    <div class=col-1.75 style="margin: 40px 0px 0 40px;display: block;color: black;">
        <div class="container">
            <div style="color: black;margin: 30px 0px 0px 0px;font-size:xx-large;
     font-family: 'Times New Roman', Times, serif;">{{this.types[0]}}</div>
            <div [hidden]="isHealth" *ngFor="let names of healthNames" style="margin: 15px 0px 0px 50px;font-size: medium;">
                <b>{{this.names}}</b>
            </div>
            <div style="color: black;margin: 30px 0px 0 0px;font-size: xx-large;
         font-family: 'Times New Roman', Times, serif;">{{this.types[1]}}</div>
            <div [hidden]="isOther" *ngFor="let names of otherNames" style="margin: 15px 0px 0px 50px;font-size: medium;">
                <b>{{this.names}}</b>
            </div>
            <div style="color: black;margin: 30px 0px 0 0px;font-size: xx-large;
         font-family: 'Times New Roman', Times, serif;">{{this.types[2]}}</div>
            <div [hidden]="isLife" *ngFor="let names of lifeNames" style="margin: 15px 0px 0 50px;font-size: medium;">
                <b>{{this.names}}</b>
            </div>
        </div>
    </div>
    <div class="col-9.25" style="display: flex;flex-wrap: wrap;" [hidden]="isHealth">
        <mat-card class="example-card" style="margin:50px 30px 20px 10px;width: 335px; height:auto;
     background-color: white;
     border-color: skyblue;border-style: solid;" *ngFor="let item of healthInsurance" matRipple>
            <!-- <div *ngIf="searchFlag||fun()">
                <mat-card-header style="background-color: white;">
                    <mat-card-title style="color: black;font-family: 'Times New Roman', Times, serif;"><b>{{this.item.name}}</b>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{this.item.img}} alt="Photo of a Shiba Inu" style="width: 330px; height:300px;
         border-color: skyblue;
             border-style: solid;">
                <mat-card-content>
                    <p style="color: black;">
                        {{this.item.description}}
                    </p>
                </mat-card-content>
            </div> -->
        </mat-card>
    </div>
    <div class="col-9" style="display: flex;flex-wrap: wrap;" [hidden]="isDisplay">
        <mat-card class="example-card" style="margin:50px 20px 20px 20px;width: 335px; height:auto;
     background-color: white;
     border-color: skyblue;border-style: solid;" *ngFor="let item of images" matRipple>
            <mat-card-header style="background-color: white;">
                <mat-card-title style="color: black;font-family: 'Times New Roman', Times, serif;"><b>{{this.item.name}}</b>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{this.item.img}} alt="Photo of a Shiba Inu" style="width: 330px; height:300px;
         border-color: skyblue;
             border-style: solid;">
            <mat-card-content>
                <p style="color: black;">
                    {{this.item.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-9" style="display: flex;flex-wrap: wrap;" [hidden]="isOther">
        <mat-card class="example-card" style="margin:50px 20px 20px 10px;width: 335px; height:auto;
     background-color: white;
     border-color: skyblue;border-style: solid;" *ngFor="let item of OtherInsurance" matRipple>
            <mat-card-header style="background-color: white;">
                <mat-card-title style="color: black;font-family: 'Times New Roman', Times, serif;"><b>{{this.item.name}}</b>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{this.item.img}} alt="Photo of a Shiba Inu" style="width: 330px; height:300px;
         border-color: skyblue;
             border-style: solid;">
            <mat-card-content>
                <p style="color: black;">
                    {{this.item.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-9" style="display: flex;flex-wrap: wrap;" [hidden]="isLife">
        <mat-card class="example-card" style="margin:50px 20px 20px 10px;width: 335px; height:auto;
     background-color: white;
     border-color: skyblue;border-style: solid;" *ngFor="let item of lifeInsurance" matRipple>
            <mat-card-header style="background-color: white;">
                <mat-card-title style="color: black;font-family: 'Times New Roman', Times, serif;"><b>{{this.item.name}}</b>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{this.item.img}} alt="Photo of a Shiba Inu" style="width: 330px; height:300px;
         border-color: skyblue;
             border-style: solid;">
            <mat-card-content>
                <p style="color: black;">
                    {{this.item.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
