@font-face {
    font-family: lato;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@689&display=swap');
}

.row {
    margin: 0;
}

.example-card {
    max-width: 400px;
}

.sideHeading {
    color: black;
    margin: 30px 0px 0 0px;
    font-size: xx-large;
}

.sideHeading1 {
    color: black;
    margin: 0px 0px 0 0px;
    font-size: xx-large;
}

.sideHead {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    overflow: hidden !important;
}

.img {
    border-color: white;
}

mat-icon {
    transform: scale(1);
}

mat-chip {
    transform: scale(1);
}

.example-spacer {
    flex: 1 1 auto;
}
