<div class="content" >
<div style="
             display:flex;
             flex-direction: column;
             align-items: initial ;
             justify-content: center;
             height: 100%;"
             fxLayout="row wrap" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%">
             
            
         <mat-card style="width:200px ; height:400px; border-radius: 50px; margin-top: 20px; ">
            <mat-card-header style="font-size: 18px; font-style:italic ; ">Motor Insurance</mat-card-header>
             <mat-card-subtitle  style="font-size: 15px; padding-top:20px ;">Two Wheeler</mat-card-subtitle> 
               
             <label>
                    <input type="radio" name="policy" value="Comprehensive policy">Comprehensive policy
                </label>
                <br>
                <label>
                    <input type="radio" name="policy" value="Standalone own damage policy">Standalone own damage policy
                </label>
                <br>
                <label>
                    <input type="radio" name="policy" value="Third party cover">Third party cover
                </label>

                <mat-card-subtitle  style="font-size: 15px; padding-top:20px ;">Four Wheeler</mat-card-subtitle> 
               
             <label>
                    <input type="radio" name="policy" value="Comprehensive motor insurance">Comprehensive motor insurance
                </label>
                <br>
                <label>
                    <input type="radio" name="policy" value="Standalone OD cover">Standalone OD cover
                </label>
                <br>
                <label>
                    <input type="radio" name="policy" value="Third-party motor insurance">Third-party motor insurance
                </label>



        </mat-card>

           
            </div>

           
            <div style="
             display:flex;
             flex-direction: column;
             /* align-items: initial ; */
             justify-content: center;"
             fxLayout="row wrap" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%">
             <h2 style="margin-right: 240px; margin-top: 50px;">Two Wheeler</h2>
                <mat-card style="border-radius:10px ;" >
                   
                    <img mat-card-image src="https://www.gibl.in/two-wheeler-insurance/assets/quote/images/bike_3.png" style="align-content: center; height: 150px;"
                     alt="Photo of a Shiba Inu">
                    <mat-card-content style="font-size: 10px;">
                      <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam sit nobis, repudiandae odit cum, natus commodi nostrum laborum ducimus, magnam aliquam quas placeat. Libero tenetur voluptate provident nulla? Optio, ad.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        
                        <button mat-raised-button color="primary" style="margin-left: 35px;">Buy</button>
                        <button mat-raised-button color="primary" style="margin-left: 38px;">Details</button>
                        <button mat-raised-button color="primary" style="margin-left: 30px;">Renew</button>
                        
                    </mat-card-actions>
                  </mat-card>

                  <!-- <mat-card style="border-radius:10px ; " >
                   
                    <img mat-card-image src="https://www.gibl.in/two-wheeler-insurance/assets/quote/images/bike_3.png" style="align-content: center; height: 150px;"
                     alt="Photo of a Shiba Inu">
                    <mat-card-content style="font-size: 10px;">
                      <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam sit nobis, repudiandae odit cum, natus commodi nostrum laborum ducimus, magnam aliquam quas placeat. Libero tenetur voluptate provident nulla? Optio, ad.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                        
                        <button mat-raised-button color="primary" style="margin-left: 35px;">Buy</button>
                        <button mat-raised-button color="primary" style="margin-left: 38px;">Details</button>
                        <button mat-raised-button color="primary" style="margin-left: 30px;">Renew</button>
                        
                    </mat-card-actions>
                  </mat-card> -->
            </div>
                
                
           

            
        </div>          