<header style="background-color: #3F51B5; height: 100px; margin: 5px;">
    <h1 style="text-align-last: center; padding-top: 2%; font-size: xx-large; color: white;"><b>Policy Details</b></h1>
</header>

<div fxLayout="row"  >
    <div style="width: 50%; border: 2px solid rgb(204, 172, 172); text-align: center; border-radius: 20px; margin: 5px;" 
    appZoomonhover="true">

        <header style="background-color: rgb(196, 200, 203); border-radius: 20px;">
            <h2><b>Policy Holder Details</b></h2>
        </header>

        <h3><b>Policy Id:</b> {{policyId}}</h3> 
        <h3><b>Insurer Name:</b> {{insuredName}}</h3>
        <h3><b>PinCode:</b> {{pinCode}}</h3>
        <h3><b>Insurance Period:</b> {{insurancePeriod}}</h3>
        <h3><b>Policy IssuenceDate:</b> {{policyIssuenceDate}}</h3>
        <h3><b>Owner Number:</b> {{ownerNumber}}</h3>
        <h3><b>Owner Email:</b> {{ownerEmail}}</h3>
    </div>

    <div style="border: 2px solid rgb(204, 172, 172); text-align: center; width: 50%; border-radius: 20px; margin: 5px;"
    appZoomonhover="true">

        <header style="background-color: rgb(196, 200, 203); border-radius: 20px;">
            <h2><b>Vehicle Details</b></h2>
        </header>

        <h3><b>Registration Number:</b> {{registrddNo}}</h3>
        <h3><b>Model:</b> {{model}}</h3>
        <h3><b>Registration Year:</b>{{registrdYear}}</h3>
        <h3><b>Engine Number:</b>{{engineNumber}}</h3>
        <h3><b>Chasis Number:</b>{{chasisNumber}}</h3>
    </div>
</div>

<div fxLayout="row" *ngIf="insuranceType === 'AutomobileInsurance' && category === 'four-wheeler'">
    <div style="width: 50%; border: 2px solid rgb(204, 172, 172); text-align: center; border-radius: 20px; margin: 5px;"
    appZoomonhover="true">

        <header style="background-color: rgb(196, 200, 203); border-radius: 20px;">
            <h2><b>Policy Holder Details</b></h2>
        </header>

        <h3><b>Policy Id:</b> {{policyId}}</h3> 
        <h3><b>Insurer Name:</b> {{insuredName}}</h3>
        <h3><b>PinCode:</b> {{pinCode}}</h3>
        <h3><b>Insurance Period:</b> {{insurancePeriod}}</h3>
        <h3><b>Policy IssuenceDate:</b> {{policyIssuenceDate}}</h3>
        <h3><b>Owner Number:</b> {{ownerNumber}}</h3>
        <h3><b>Owner Email:</b> {{ownerEmail}}</h3>
</div>

    <div style="border: 2px solid rgb(204, 172, 172); text-align: center; width: 50%; border-radius: 20px; margin: 5px;"
    appZoomonhover="true">
        <header style="background-color: rgb(196, 200, 203); border-radius: 20px;">
            <h2><b>Vehicle Details</b></h2>
        </header>
        <h3><b>Registration Number:</b> {{registrddNo}}</h3>
        <h3><b>Model:</b> {{model}}</h3>
        <h3><b>Registration Year:</b>{{registrdYear}}</h3>
        <h3><b>Engine Number:</b>{{engineNumber}}</h3>
        <h3><b>Chasis Number:</b>{{chasisNumber}}</h3>
    </div>
</div>

<div fxLayout="row" *ngIf="insuranceType === 'LifeInsurance'">
    <div style="width: 99%; border: 2px solid rgb(204, 172, 172); text-align: center; border-radius: 20px; margin: 5px;"
    appZoomonhover="true">

        <header style="background-color: rgb(196, 200, 203); border-radius: 20px;">
            <h2><b>Policy Holder Details</b></h2>
        </header>
        <form [FormGroup]="formData">
            <h3><b>Policy Id:</b> {{policyId}}</h3> 
            <h3><b>Insurer Name:</b> {{insuredName}}</h3>
            <h3><b>PinCode:</b> {{pinCode}}</h3>
            <h3><b>Insurance Period:</b> {{insurancePeriod}}</h3>
            <h3><b>Policy IssuenceDate:</b> {{policyIssuenceDate}}</h3>
            <h3><b>Owner Number:</b> {{ownerNumber}}</h3>
            <h3><b>Owner Email:</b> {{ownerEmail}}</h3>
        </form>
    </div>
</div>

<div fxLayout="row" *ngIf="insuranceType === 'HealthInsurance'">
    <div style="width: 99%; border: 2px solid rgb(204, 172, 172); text-align: center; border-radius: 20px; margin: 5px;"
    appZoomonhover="true">

        <header style="background-color: rgb(196, 200, 203); border-radius: 20px;">
            <h2><b>Policy Holder Details</b></h2>
        </header>

        <h3><b>Policy Id:</b> {{policyId}}</h3> 
        <h3><b>Insurer Name:</b> {{insuredName}}</h3>
        <h3><b>PinCode:</b> {{pinCode}}</h3>
        <h3><b>Insurance Period:</b> {{insurancePeriod}}</h3>
        <h3><b>Policy IssuenceDate:</b> {{policyIssuenceDate}}</h3>
        <h3><b>Owner Number:</b> {{ownerNumber}}</h3>
        <h3><b>Owner Email:</b> {{ownerEmail}}</h3>
    </div>
</div>

<div fxLayoutAlign="center">
    <button mat-raised-button color="primary" fxLayout="column">
        <a style="text-decoration: none; color: white;" routerLink="/renewal">Renew Now</a>
    </button>
</div>
