<div style="margin:30px 0;background-color:white ;">

    <div class="mat-elevation-z4 column" id="insurance1">
        <div>
            <h1 style="text-align: center;font-size:70px;padding: 30px;color: blue;">Insurances</h1>
        </div>
        <!-- <hr> -->
        <div style="margin:20px 0">
            <div class="row">
                <div class="col-6">
                    <div id="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="col-5">
                    <h1 style="text-align:center;color: rgb(0, 52, 68);font-size: 30px;"> Insurance Bought Chart</h1>
                    <div class="mat-elevation-z4 column" id="tabledata">
                        <div class="row" style="background-color: aqua;display: flex;justify-content:space-evenly ;">
                            <div class="col-6" style="text-align: center; margin-top: 15px;">
                                <p>Policy Name</p>
                            </div>
                            <div class="col-6" style="text-align: center; margin-top: 15px;">
                                <p>No Of Users Bought Insurance</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6" style="text-align: center;">
                                <div *ngFor=" let item of policynamesofInsurance | paginate: { itemsPerPage :4,
                                currentPage :page,
                                totalItems:totalLength
                               } ">
                                    <p style="margin: 25px 0;">{{item}}</p>
                                </div>
                            </div>
                            <div class="col-6" style="text-align: center;">
                                <div *ngFor=" let item of countofusersBountInsurance | paginate: { itemsPerPage :4,
                                currentPage :page,
                                totalItems:totalLength
                               }">
                                    <p style="margin: 25px 0;">{{item}}</p>
                                </div>
                            </div>
                        </div>
                        <div style="font-size:medium;display: flex;justify-content: flex-end;">
                            <b style="font-family:'Times New Roman', Times, serif ;">
                <pagination-controls (pageChange)="page=$event"></pagination-controls>
              </b>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="mat-elevation-z4" id="insurance2" *ngFor="let policy of policies">
                <div style="margin: 20px;" (click)="goto(policy.policyId)">
                    <img src="data:{{policy.picType}};base64,{{policy.picByte}}" width="350px" height="200px" class="images" style="border-radius:20px ;">
                </div>
                <div>
                    <p class="text"> {{policy.policyName}}</p>
                    <p class="text1"> {{policy.insuranceType}}</p>
                </div>
            </div>
        </div>
    </div>

</div>