<div style="margin:30px 0;background-color:white ;">
    <div>
        <h1 style="text-align: center;font-size:70px;padding: 30px;">Insurances</h1>
    </div>
    <div class="mat-elevation-z4 row" id="insurance1">
        <div id="chart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="mat-elevation-z4" id="insurance2" *ngFor="let policy of policies">
            <div style="margin: 20px;" (click)="goto(policy.policyId)">
                <img src="data:{{policy.picType}};base64,{{policy.picByte}}" width="350px" height="200px" class="images" style="border-radius:20px ;">
            </div>
            <div>
                <p class="text"> {{policy.policyName}}</p>
                <p class="text1"> {{policy.insuranceType}}</p>
            </div>
        </div>
    </div>

</div>