.img {
    border-color: white;
}
.example-card {
    max-width: 300px;
    margin-bottom: 8px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
   
   
}
.example-card:hover {
    /* transform: ; */
    border: 2px solid rgb(56, 52, 181);
    transform: scale(1.05);
    /* margin: 5px; */
}