<div>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">First Name</label>
            <input type= "text" class="form-control" id="First Name" name = "name">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input type= "text" class="form-control" id="First Name" name = "name">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">emailId</label>
            <input type= "email" class="form-control" id="First Name" name = "name">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type= "password" class="form-control" id="First Name" name = "name">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
            <input type= "password" class="form-control" id="First Name" name = "name">
          </div>

    </form>
</div>


