
<div class = "body">

    
    <mat-card style="width: 90%; margin: 3px 0 0 2px; border: 2px;  border-color: aquamarine; 
     padding-top: 20px; " class="shadow-lg bg-white rounded"> 
    
        <mat-card-title style="text-align: center;">Update Details</mat-card-title>
        <mat-card-content>
            
                <form [formGroup]="PolicyAdvisorUpdate">
                    <h3><b>Basic Details</b></h3>
                    <div>
                        <div fxlayout = "row" fxLayoutGap = "63px">
                            <mat-form-field appearance="outline" fxFlex = "30%">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder = "emailId" formControlName="emailId" > 
                    
                            </mat-form-field>

                             <mat-form-field appearance="outline" fxFlex = "30%">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Ex. Jane Doe" formControlName="name" type="text">
                                <mat-hint>Enter your full name</mat-hint>
                                <!-- <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex = "30%">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Ex. +1 11111-00000" formControlName="phoneNumber" type="text">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-hint>Enter your phone number with country  code</mat-hint>
                                <!-- <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                        </div> 

                        <div fxlayout = "row" fxLayoutGap = "61px">
                        
                            <mat-form-field appearance = "outline" fxFlex = "30%">
                                <mat-label>Gender</mat-label>
                                <mat-select id = "gender" formControlName = "gender" >
                                    <mat-option value = "Male">Male</mat-option>
                                    <mat-option value = "Female">Female</mat-option>
                                    <mat-option value = "Others">Others</mat-option>
                                </mat-select>
                                <mat-hint> Select any one</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance = "outline" fxFlex = "30%">
                                <mat-label>Date of  Birth</mat-label>
                                <input matInput   formControlName = "dateOfBirth" type = "date" >                              <mat-hint>MM/DD/YYYY</mat-hint>
                                <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker> -->
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex = "30%">
                                <mat-label>Experience</mat-label>
                                <input matInput placeholder="Ex. 3" fromControlName = "yearsOfExperience" >
                                <mat-hint>Enter your experience in years</mat-hint>
                            </mat-form-field>
                        </div>

                    </div>

                    <hr>
                    <h3><b> Identification Details</b></h3>
                    <div>
                        <div fxlayout = "row" fxLayoutGap = "5%">
                            <mat-form-field appearance="outline" fxFlex = "30%">
                                <mat-label>Pan Number</mat-label>
                                <input matInput formControlName = "panNo" >
                                <mat-hint>Enter your Pan number</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex = "30%">
                                <mat-label>Aadhar Number</mat-label>
                                <input matInput formControlName = "aadharNo" >
                                <mat-hint>Enter your Aadhar Number</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <hr>
                    <h3><b>Experience Details</b></h3>

                    <div>
                        <div fxlayout = "row">
                            <mat-form-field class="insurance-chip-list" appearance="outline" fxFlex = "100%">
                                <mat-label>Category</mat-label>
                                <mat-chip-list #chipList aria-label="Fruit selection" 
                                    matTooltip="To add new insurance,add the value and press Enter">
                                    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"  
                                         [removable]="removable" (removed)="remove(fruit)" >
                                            {{fruit.name}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <input placeholder="Others" [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" 
                                     (matChipInputTokenEnd)="add($event)" formControlName = "category">
                                </mat-chip-list>

                
                            <!-- <mat-chip-list aria-label="Category selection">
                                     <mat-chip>Health insurance</mat-chip>
                                    <mat-chip>Life insurance </mat-chip>
                                     <mat-chip >Two-wheeler insurance</mat-chip>
                                    <mat-chip >Four-wheeler insurance</mat-chip>
                                    <input [matChipInputFor]="chipList"> 
                                </mat-chip-list> -->
                            </mat-form-field>
                        </div>
                    </div>

                    <hr>
                    <h3><b>Profile Picture</b></h3>
                    <!-- <div class="input-group" fxLayoutGap = "2%">
                    <div class="custom-file" fxFlex = "15%">
                      <input type="file" class="custom-file-input" id="inputImage" aria-describedby="inputImage" formControlName = "profilePic">
                      <label class="custom-file-label" for="inputImage" (change)="onImgSelected($event)">Choose file</label>
                    </div>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="inputImage">Add</button>
                    </div>
                    </div> -->
                    <div>
                        <img [hidden]="imgView2" [src]="Imgurl" height="200">
                        <br>
                        <input type="file" (change)="onImgSelected($event)">
                    </div>
                
                     
                    <hr>
                    <div style="text-align: center;" fxlayout = "row" fxLayoutGap = "2%">
                        <button mat-raised-button color="primary" type = "submit"
                        [disabled] = "PolicyAdvisorUpdate.invalid" (click)="onSubmit()">Save Changes</button>
                        <button mat-raised-button (click)="onCancel()">Cancel</button>
                     </div>
            
                </form>
                
            
        </mat-card-content>
    </mat-card>
  
</div>

    