.example-card {
    max-width: 355px;
    margin-bottom: 8px;
    margin-left: 20px;
    background-color: rgb(239, 228, 247);
  }
  
  div{
    padding: 7px;
  }
  mat-card-subtitle{
    color: #000;
    padding-left: 10px;
    font-size: 18px; 
    font-weight:450;
}