.example-card {
    max-width: 360px;
    margin-bottom: 8px;
    margin-left: 20px;
  }
  
  div{
    /* padding-top: 10px; */
    padding-left: 20px;
  }
  mat-card-subtitle{
    padding-left: 10px;
    font-size: 17px; 
    font-weight:500;
}