<div>
    <br>
    <h1 style="font-size: 60px; font-weight:400; color: white;">My Policies</h1>
    <!-- <br> -->
    <mat-form-field class="example-form-field" appearance="fill" style="width: 300px; margin-left: 700px ; margin-top: -30px; margin-bottom: -10px;">
        <mat-label style="color: white;">Search</mat-label>
        <input matInput type="text" class="form-control"  placeholder="Enter Keyword you want to search" [(ngModel)]="searchedKeyword">
      </mat-form-field>
      <button mat-raised-button style="margin-left: 20px;"> <mat-icon>search</mat-icon> </button> 
      <br>
    <button mat-raised-button style="margin-left: 60px;">Active</button> 
    <button mat-raised-button style="margin-left: 100px;">Claimed</button>
    <br>
    
    <div class="border" style="border: 1px solid #ffffff; ">
    
    <div style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let policy of policies | filter:searchedKeyword">
            <mat-card class="example-card" >
                <mat-card-title>{{policy.name}} </mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-subtitle>
                    Policy No. :- {{policy.policyNo}} <br>
                    Purchased on :- {{policy.purchaseDate}} <br>
                    End Date :- {{policy.endDate}} <br>
                    Sum Insured :- {{policy.sumInsured}}
                </mat-card-subtitle>
                <mat-card-content>
                    {{longText}}
                </mat-card-content>
                <button mat-raised-button color="primary" disabled>Claim</button>
                <button mat-raised-button color="primary" style="margin-left:180px" disabled>Renew</button>
            </mat-card>
        </div>
    </div>
</div>
</div>
  

