<div >
    <br>
    <h1 style="font-size: 60px; font-weight:450; padding-top: 10px; padding-left: 15px;">My Policies</h1>
    <!-- <br> -->
      <mat-form-field class="search" appearance="fill" style="width: 380px; margin-left: 650px; margin-top: -190px; margin-bottom: 10px;">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Enter Keyword you want to search" [(ngModel)]="searchedKeyword">
      </mat-form-field>
      <br>
    <mat-tab-group>
        <mat-tab label="All" >
        <div style="display: flex; flex-wrap: wrap; padding-top: 20px;" >
            <div *ngFor="let policy of purchasedPolicies | filter:searchedKeyword" >
                <mat-card class="example-card" (click)="openDialog(policy)">
                    <mat-card-title>{{policy.policyType}} </mat-card-title>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-card-subtitle>
                        Policy No. :- {{policy.customerPolicyId}} <br>
                        Purchased on :- {{policy.purchaseDate[0]}} <br>
                        End Date :- {{policy.endDate[0]}} <br>
                        Sum Insured :- {{policy.sumInsured}}
                    </mat-card-subtitle>
                    <mat-card-content>
                        <!-- {{longText}} -->
                    </mat-card-content>
                    <button mat-raised-button color="primary" routerLink="/claim">Claim</button>
                    <button mat-raised-button color="primary" style="margin-left:180px" disabled>Renew</button>
                </mat-card>
        </div> 
    </div>
</mat-tab>
        <mat-tab label="Active">
            <div style="display: flex; flex-wrap: wrap; padding: 2px; padding-top: 20px;" >
            <div *ngFor="let policy of purchasedPolicies  | filter:searchedKeyword">
            
                    <div *ngIf="policy.status==true">
                        <mat-card class="example-card" (click)="openDialog(policy)">
                            <mat-card-title>{{policy.policyType}} </mat-card-title>
                            <mat-divider></mat-divider>
                            <br>
                            <mat-card-subtitle>
                                Policy No. :- {{policy.customerPolicyId}} <br>
                                Purchased on :- {{policy.purchaseDate[0]}} <br>
                                End Date :- {{policy.endDate[0]}} <br>
                                Sum Insured :- {{policy.sumInsured}}
                            </mat-card-subtitle>
                            <mat-card-content>
                                <!-- {{longText}} -->
                            </mat-card-content>
                            <button mat-raised-button color="primary" routerLink="/claim">Claim</button>
                            <button mat-raised-button color="primary" style="margin-left:180px" disabled>Renew</button>
                        </mat-card>  
                    </div>                  
            </div> 
        </div>
    </mat-tab>
        <mat-tab label="Completed"> <div style="display: flex; flex-wrap: wrap; padding-top: 20px;">
            <div *ngFor="let policy of purchasedPolicies  | filter:searchedKeyword" >
                <div *ngIf="policy.status==false">
                    <mat-card class="example-card" (click)="openDialog(policy)">
                        <mat-card-title>{{policy.policyType}} </mat-card-title>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-card-subtitle>
                        Policy No. :- {{policy.customerPolicyId}} <br>
                        Purchased on :- {{policy.purchaseDate[0]}} <br>
                        End Date :- {{policy.endDate[0]}} <br>
                        Sum Insured :- {{policy.sumInsured}}
                    </mat-card-subtitle>
                        <mat-card-content>
                            <!-- {{longText}} -->
                        </mat-card-content>
                        <button mat-raised-button color="primary" disabled>Claim</button>
                        <button mat-raised-button color="primary" style="margin-left:180px" routerLink="/renewal">Renew</button>
                    </mat-card>
                </div>
                
        </div> 
    </div> </mat-tab>
      </mat-tab-group>
    <br>
    
    

</div>
