<div style="background-color: white;">
    <br>
    <h1 style="font-size: 60px; font-weight:450; padding-top: 10px; padding-left: 15px;">My Policies</h1>
    <!-- <br> -->
    <mat-form-field class="search" appearance="fill" style="width: 380px; margin-left: 650px; margin-top: -190px; margin-bottom: 10px;">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Enter Keyword you want to search" [(ngModel)]="searchedKeyword">
    </mat-form-field>
    <br>
    <mat-tab-group>
        <mat-tab label="All" >
        <div style="display: flex; flex-wrap: wrap; padding-top: 20px;" >
            <div *ngFor="let policy of purchasedPolicies | filter:searchedKeyword; let i=index;" >
                <mat-card class="example-card" (click)="openDialog(policy, i)">
                    <mat-card-title>{{policy.policyType}} {{policyTitle[i]}}</mat-card-title>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-card-subtitle>
                        <mat-icon matTooltip="Policy Number" matTooltipPosition="above"> insert_drive_file </mat-icon>   {{policy.customerPolicyId}} <br>
                        <mat-icon matTooltip="Start Date" matTooltipPosition="above">event_available</mat-icon> {{policy.purchaseDate[0]}} <br> 
                        <!-- <mat-icon>today</mat-icon>  -->
                        <mat-icon matTooltip="End Date" matTooltipPosition="above">event_busy</mat-icon> {{policy.endDate[0]}} <br>
                        <!-- <mat-icon> money</mat-icon> -->
                        <mat-icon matTooltip="Sum Insured" matTooltipPosition="above">account_balance_wallet</mat-icon> ₹{{policy.sumInsured}}
                    </mat-card-subtitle>
                    <mat-card-content>
                        <!-- {{longText}} -->
                    </mat-card-content>
                    <button mat-raised-button color="primary" routerLink="/claim">Claim</button>
                    <button mat-raised-button color="primary" style="margin-left:180px" [disabled]="currentDate<policy.endDate[(policy.endDate.length)-1] || policy.endDate[(policy.endDate.length)-1].month - currentDate.month>=0" routerLink="/renewal-home">Renew</button>
                </mat-card>
        </div> 
    </div>
</mat-tab>
        <mat-tab label="Active">
            <div style="display: flex; flex-wrap: wrap; padding: 2px; padding-top: 20px;">
                <div *ngFor="let policy of purchasedPolicies  | filter:searchedKeyword; let i=index;">

                    <div *ngIf="policy.status==true">
                        <mat-card class="example-card" (click)="openDialog(policy,i)">
                            <mat-card-title>{{policy.policyType}} {{policyTitle[i]}}</mat-card-title>
                            <mat-divider></mat-divider>
                            <br>
                            <mat-card-subtitle>
                                <mat-icon matTooltip="Policy Number" matTooltipPosition="above"> insert_drive_file </mat-icon>
                                {{policy.customerPolicyId}} <br>
                                <mat-icon matTooltip="Start Date" matTooltipPosition="above">event_available</mat-icon>
                                {{policy.purchaseDate[0]}} <br>
                                <!-- <mat-icon>today</mat-icon>  -->
                                <mat-icon matTooltip="End Date" matTooltipPosition="above">event_busy</mat-icon> {{policy.endDate[0]}}
                                <br>
                                <!-- <mat-icon> money</mat-icon> -->
                                <mat-icon matTooltip="Sum Insured" matTooltipPosition="above">account_balance_wallet</mat-icon>
                                ₹{{policy.sumInsured}}
                            </mat-card-subtitle>
                            <mat-card-content>
                                <!-- {{longText}} -->
                            </mat-card-content>
                            <button mat-raised-button color="primary" routerLink="/claim">Claim</button>
                            <button mat-raised-button color="primary" style="margin-left:180px" [disabled]="currentDate<policy.endDate[(policy.endDate.length)-1]" routerLink="/renewal-home">Renew</button>
                        </mat-card>  
                    </div>                  
            </div> 
        </div>
    </mat-tab>
    
        <mat-tab label="Completed"> 
            <div style="display: flex; flex-wrap: wrap; padding-top: 20px; ">

            <div *ngFor="let policy of purchasedPolicies  | filter:searchedKeyword; let i=index " >
                <div *ngIf="policy.status==false">
                    <mat-card class="example-card" (click)="openDialog(policy,i)">
                        <mat-card-title>{{policy.policyType}} {{policyTitle[i]}} </mat-card-title>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-card-subtitle>
                        <mat-icon matTooltip="Policy Number" matTooltipPosition="above"> insert_drive_file </mat-icon>   {{policy.customerPolicyId}} <br>
                        <mat-icon matTooltip="Start Date" matTooltipPosition="above">event_available</mat-icon> {{policy.purchaseDate[0]}} <br> 
                        <!-- <mat-icon>today</mat-icon>  -->
                        <mat-icon matTooltip="End Date" matTooltipPosition="above">event_busy</mat-icon> {{policy.endDate[0]}} <br>
                        <!-- <mat-icon> money</mat-icon> -->
                        <mat-icon matTooltip="Sum Insured" matTooltipPosition="above">account_balance_wallet</mat-icon> ₹{{policy.sumInsured}}
                    </mat-card-subtitle>
                        <mat-card-content>
                            <!-- {{longText}} -->
                            {{description[i]}}
                        </mat-card-content>
                        <!-- <button mat-raised-button color="primary" disabled>Claim</button>
                        <button mat-raised-button color="primary" style="margin-left:180px" routerLink="/renewal">Renew</button> -->
                    </mat-card>
                </div>
            </div>
            </div>
        </mat-tab>
        </mat-tab-group>
    <br>



</div>
