<div class="bg-info ">

<div class="container text-center mt-5">
  <div class="row">
    <div class="col align-self-start">
      <img src="assets/img/Register_now.jpg" width="300" height="300" alt="Register"> 
    </div>
    
    <div class="col align-self-end bg-light">

     <form>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"></label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1"> <b> Insured </b> </label>
            <img src="assets/img/As_insured.png" width="28" height="28"> 
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2"> <b>As Insurer </b> </label>
            <img src="assets/img/As_insurer.png" width="28" height="28"> 
          </div>
        </div>

        
        <div class="input-group mb-3" >

          <input type="email" class="form-control" placeholder="Enter your Email Id* " id="emailId" aria-describedby="basic-addon1"
          >
        </div>
            
            <div class="mb-3">
              <input type= "password" class="form-control" placeholder = "Enter your password* " id="password" name = "password"
              >
            </div>
  
            <div class="mb-3">
              <input type= "password" class="form-control" placeholder = " Confirm password* " id="confirmPassword" name = "confirmPassword"
              >
            </div>
  
            
            
       <button type ="submit" class="btn btn-primary mr-1">Register</button> 
  
       <p>Already a member? </p>
       <a href="#" >Log In</a>
 
      </form>
  </div>





    </div>
  
</div>
</div>
