<div class="card m-3">
    <h5 class="card-header">Register Here</h5>
    <div class="card-body">
      <form>
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">First Name</label>
              <input type= "text" class="form-control" id="First Name" name = "name">
          </div>
  
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Last Name</label>
              <input type= "text" class="form-control" id="First Name" name = "name">
            </div>
  
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">emailId</label>
              <input type= "email" class="form-control" id="First Name" name = "name">
            </div>
  
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Password</label>
              <input type= "password" class="form-control" id="First Name" name = "name">
            </div>
  
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
              <input type= "password" class="form-control" id="First Name" name = "name">
            </div>
  
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Role</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Customer
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Insurance Provider
                </label>
              </div>
            </div>
            
       <button type ="submit" class="btn btn-primary mr-1">Register</button>   
      </form>
  </div>
  </div>

