@import url("https://www.w3schools.com/w3css/4/w3.css");



div.background{
    background-color: #9370DB;

}

div.cards{
    padding-top: 70px;
    padding-left: 260px;
    padding-bottom: 70px;
    text-align: center;
    
}


h1{
    font-size: 20px;

}