<div style="background-color:white; display: flex;justify-content: center;align-items: center;">

    <mat-card [hidden]="edit" style="width: 60%; margin: 30px 0 0 30px;border: 2px solid ;background-color: white;">
        <mat-card-content>
            <form [formGroup]="profile">
                <h1>Basic Personal Details</h1>
                <div>
                    <div fxLayout="row" fxLayoutGap="2%">
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>User name</mat-label>
                            <input matInput placeholder="Enter your user name" formControlName="name" type="text" [ngModel]="info.name">
                            <mat-hint>No special characters</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>Mobile</mat-label>
                            <mat-icon matSuffix>phone</mat-icon>
                            <input matInput placeholder="Enter your mobile number" formControlName="mobileNo" [ngModel]="info.mobileNo">
                            <mat-hint>10 digit number</mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>Gender</mat-label>
                            <mat-select placeholder="Gender" formControlName="gender" [ngModel]="info.gender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                                <mat-option value="Others">Others</mat-option>
                            </mat-select>
                            <mat-hint>Select any one</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>DOB</mat-label>
                            <input matInput placeholder="Enter your Dob" formControlName="dateOfBirth" [ngModel]="info.dateOfBirth" [matDatepicker]="picker">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                          
                    </div>
                </div>
                <hr>
                <h1>Address Details</h1>
                <div>
                    <div fxLayout="row" fxLayoutGap="2%">
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>House No</mat-label>
                            <mat-icon matSuffix>home</mat-icon>
                            <input matInput placeholder="Enter your house no" formControlName="houseNo" [ngModel]="info.address.houseNo">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>Street</mat-label>
                            <input matInput placeholder="Enter your Street name" formControlName="street" [ngModel]="info.address.street">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>Land mark</mat-label>
                            <input matInput placeholder="Enter your landmark" formControlName="landmark" [ngModel]="info.address.landmark">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Enter your city name" formControlName="city" [ngModel]="info.address.city">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>STATE</mat-label>
                            <input matInput placeholder="Enter your State" formControlName="state" [ngModel]="info.address.state">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50%">
                            <mat-label>PINCODE</mat-label>
                            <input matInput placeholder="Enter your pincode" formControlName="pinCode" [ngModel]="info.address.pinCode">
                        </mat-form-field>
                    </div>

                </div>
                <hr>
                <h1>Additional Details</h1>

                <div fxLayout="row" fxLayoutGap="2%">
                    <mat-form-field appearance="outline" fxFlex="50%">
                        <mat-label>PAN</mat-label>
                        <input matInput placeholder="Enter your Pan number" formControlName="panNo" [ngModel]="info.panNo">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50%">
                        <mat-label>AADHAR</mat-label>
                        <input matInput placeholder="Enter your Aadhar number" formControlName="aadharNo" [ngModel]="info.aadharNo">
                    </mat-form-field>
                </div>
                <hr>
                <h1>Profile pic</h1>
                <div>
                    <div [hidden]="imgView"> <img src="data:*;base64,{{info.profilePic}}" height="200"> </div>
                    <img [hidden]="imgView2" [src]="Imgurl" height="200">
                    <br>
                    <input type="file" (change)="onImgSelected($event)">
                </div>
                <div style="display:inline-flex;justify-content:space-between;" fxLayout="row" fxLayoutGap="2%">
                    <div fxFlex="50%"><b><button mat-raised-button color="primary" type="submit" [disabled]="profile.invalid"
                style="margin: 40px 0px;" (click)="onSubmit()">Update</button></b></div>
                    <div fxFlex="50%"> <b><button mat-raised-button color="primary" (click)="onCancel()"  
                        style="margin: 40px 0px;background-color: white;border: 2px solid blue;color: blue;">Cancel</button></b></div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div [hidden]="view" style="background-color:white; display: flex;justify-content: center;align-items: center;">
    <mat-card style="width: 70%; margin: 30px 0 0 30px;border: 2px solid ;background-color: white;">
        <mat-card-content style="margin: 20px 30px 0 30px;">
            <h1>Basic Personal Details</h1>
            <div>
                <div fxLayout="row" fxLayoutGap="2%">
                    <div  fxFlex="50%" class="c1">User Name : {{info.name}}</div>
                    <div  fxFlex="50%" class="c1">Mobile : {{info.mobileNo}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="2%">
                    <div  fxFlex="50%" class="c1">Gender : {{info.gender}}</div>
                    <div  fxFlex="50%" class="c1"> DOB : {{info.dateOfBirth}}</div>
                </div>
            </div>
            <hr>
            <h1>Address Details</h1>
            <div>
                <div fxLayout="row" fxLayoutGap="2%">
                    <div  fxFlex="50%" class="c1"> House No : {{info.address.houseNo}}</div>
                    <div  fxFlex="50%" class="c1">Street : {{info.address.street}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="2%">
                    <div  fxFlex="50%" class="c1">Land Mark : {{info.address.landmark}}</div>
                     <div  fxFlex="50%" class="c1"> City : {{info.address.city}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="2%">
                    <div  fxFlex="50%" class="c1">State : {{info.address.state}}</div>
                     <div  fxFlex="50%" class="c1">Pincode : {{info.address.pinCode}} </div>
                </div>
            </div>
            <hr>
            <h1>Additional Details</h1>
            <div fxLayout="row" fxLayoutGap="2%">
                <div  fxFlex="50%" class="c1"> Aadhar number : {{info.aadharNo}}</div>
                <div  fxFlex="50%" class="c1"> Pan Number: {{info.panNo}}</div>
            </div>
            <hr>
            <div [hidden]="imgView"> <img src="data:*;base64,{{info.profilePic}}" height="200"> </div>
            <div [hidden]="imgView2"><img [src]="Imgurl" height="200"></div>
            <b><button mat-raised-button color="primary" (click)="onEdit()"  style="margin: 40px 0px;">Edit</button></b>
            
            </mat-card-content>
    </mat-card>
</div>