
<div >
<h1 style="font-size: 60px; font-weight:450; padding-top: 35px; padding-left: 20px;"> Policy Details </h1>
<br>
<br>
<div>
  <!-- style="background-color: rgb(227, 202, 245)" -->
  <mat-tab-group >
    <mat-tab label="Detailed Information">
      <div style="border: 2px solid rgb(76, 33, 168); padding: 10px; margin: 18px; font-size: 17px; font-weight: 400;">
        <h2 style="background-color: rgb(181, 181, 245);">Customer Information</h2>
        <div style="padding-left:15px ;"><p>email:- ajay123@gmail.com </p>    
        <p>name :- Ajay </p>
        <p>mobile :- 8881119991 </p>
        <p>address :- panipat, haryana </p>
        <p>pincode :- 132103 </p>
        <p>city :- panipat </p>
        <p>state :- haryana </p>
      </div>
      <h2 style="background-color: rgb(181, 181, 245);">Policy Information</h2>
        <div style="padding-left:15px;"><p> customerPolicyId:- 018991 </p>
        <p>insurancePolicyId:- 12590 </p>
        <p>nameOfNominee :- xyz </p>
        <p>nomineeDOB :- 11-02-1995 </p>
        <p>relation :- son </p>
        <p>sumInsured:- $10000 </p>
        <p>startDate :- 23-01-2021 </p>
        <p>endDate :- 22-01-2022</p>
        <p>purchaseDate :- [23-01-2021] </p>
        <p>duration :- 1 year </p>
        <p>addOnName :- ...... </p>
        <p>premium :- ...... </p>
        <p>private HealthInsurance healthInsurance; </p>
        <p>LifeInsurance lifeInsurance; </p>
        <p>AutomobileInsurance automobileInsurance; </p>
        <p>boolean renewalStatus=false; </p>
        <p>List claimSum=new Arr </p>
        <p>List claimDate=new ist </p>
        <p>List claimStatus=neyList(); </p>
        <p>boolean status=true; </p> </div>
        <br>
        <button mat-raised-button color="primary">Download as PDF <mat-icon>download</mat-icon> </button>
    </div>
    </mat-tab>
    <mat-tab label="Renewal History">
      <div style="border: 2px solid rgb(76, 33, 168); padding: 10px; margin: 18px;"> 
  <h2>Renewal Details</h2> 
  <div>
    <table>
      <tr>
        <th>Policy No.</th>
        <th>Renew Date</th>
        <th>Start Date</th>
        <th>End Date </th>
      </tr>
      <tr>
        <td>120929</td>
        <td>25-02-2020</td>
        <td>29-02-2020</td>
        <td>28-02-2021</td>
      </tr>
      <tr>
        <td>130461</td>
        <td>20-11-2022</td>
        <td>21-11-2022</td>
        <td>20-11-2024</td>
      </tr>
      <tr>
        <td>320921</td>
        <td>05-11-2020</td>
        <td>15-11-2020</td>
        <td>14-11-2021</td>
      </tr>
      <tr>
        <td>120928</td>
        <td>28-02-2022</td>
        <td>08-03-2022</td>
        <td>07-03-2025</td>
      </tr>
    </table>
    <br>
  <button mat-raised-button color="primary">Download as PDF <mat-icon>download</mat-icon> </button>
</div>    
</div>
</mat-tab>
    <mat-tab label="Claim History"> 
      <div style="border: 2px solid rgb(76, 33, 168); padding: 10px; margin: 18px;"> 
        <h2 mat-dialog-title>Clam Details</h2> 
        <div>
          <table>
            <tr>
              <th>Policy No.</th>
              <th>Claim Date</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>120929</td>
              <td>25-02-2020</td>
              <td>$2000</td>
            </tr>
            <tr>
              <td>130461</td>
              <td>20-11-2022</td>
              <td>$3000</td>
            </tr>
            <tr>
              <td>320921</td>
              <td>05-12-2020</td>
              <td>$1000</td>
            </tr>
            <tr>
              <td>120928</td>
              <td>28-02-2021</td>
              <td>$7000</td>
            </tr>
          </table>
          <br>
          <button mat-raised-button color="primary">Download as PDF <mat-icon>download</mat-icon> </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
</div>