<div fxLayout="row">
    <input type="text" [(ngModel)]="insuranceType">
    <h1>{{insuranceType}}</h1>
    <input type="text" [(ngModel)]="category">
    <h1>{{category}}</h1>
    <button type="sumbit" (click)="onSubmit()">Submit</button>
</div>

<div style="border: 1px solid black; margin: 10px; text-align: center; padding-top: 10px; background-color: #12cdd4;" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="20%" *ngIf="insuranceType === 'AutomobileInsurance' && category === 'two-wheeler'">
        <h1><b>Two Wheelers</b></h1>
        <h4>Policy Renewals</h4>
    </div>
    <div fxFlex="60%" *ngIf="insuranceType === 'AutomobileInsurance' && category === 'two-wheeler'">
        <h1><b>Comprehensive Policy</b></h1>
        <p>A two-wheeler insurance policy serves to cover your insured two-wheeler and you against financial losses and damages,
            resulting from an accident or otherwise. It also safeguards you against third-party liability due to damages 
            suffered by a third-party involving your vehicle. Let’s learn more about the various aspects of this type of policy.</p>
    </div>

    <div fxFlex="20%" *ngIf="insuranceType === 'AutomobileInsurance' && category === 'four-wheeler'">
        <h1><b>Four Wheelers</b></h1>
        <h4>Policy Renewals</h4>
    </div>
    <div fxFlex="60%" *ngIf="insuranceType === 'AutomobileInsurance' && category === 'four-wheeler'">
        <h1><b>Comprehensive Policy</b></h1>
        <p>A comprehensive four wheeler insurance in India consists of both the compulsory third party insurance as well as 
            own damage insurance. The own damage insurance cover can be only opted if there is a valid third party insurance 
            cover.</p>
    </div>

    <div fxFlex="20%" *ngIf="insuranceType === 'HealthInsurance'">
        <h1><b>Health Insurance</b></h1>
        <h4>Policy Renewals</h4>
    </div>
    <div fxFlex="60%" *ngIf="insuranceType === 'HealthInsurance'">
        <h1><b>Medical insurance policy</b></h1>
        <p>Health insurance is a contract that requires an insurer to pay some or all of a person's healthcare costs in 
            exchange for a premium. More specifically, health insurance typically pays for medical, surgical, prescription drug,
             and sometimes dental expenses incurred by the insured.</p>
    </div>

    <div fxFlex="20%" *ngIf="insuranceType === 'LifeInsurance'">
        <h1><b>Term life Insurance</b></h1>
        <h4>Policy Renewals</h4>
    </div>
    <div fxFlex="60%" *ngIf="insuranceType === 'LifeInsurance'">
        <h1><b>Life insurance policy</b></h1>
        <p>Life insurance is a policy which covers the risk of premature death. If, during the term of the policy, the life 
            insured dies, the policy promises to pay a death benefit. Life insurance policies are legal contracts where, 
            against the coverage offered by the insurance company, you are supposed to pay a premium for availing the coverage. Moreover, besides premature death, many life insurance plans also cover survival to the end of the policy tenure wherein a maturity benefit is paid.</p>
    </div>
    <div fxFlex="20%" style="position: relative; right: -10px; top: 50px;">
        <button mat-flat-button color="accent" (click)="openDialog()">Update Profile</button>
    </div>
</div>

<br><br>

<div style="text-align: center;" fxLayout.xs="column" *ngIf="">
    <h1>Choose your Plan</h1>
</div>

                            <!-- This is the automobile insurance field for four-wheeler -->

<div fxLayoutAlign="center" *ngIf="insuranceType === 'AutomobileInsurance' && category === 'two-wheeler'">
    <section class="example-section" [formGroup]="premiumCheckBoxList" fxLayout="row" fxLayoutGap="9%" fxLayout.xs="column" fxLayoutGap.xs="0%">
        <p><mat-checkbox formControlName="Premium1"><b>Total Premium</b> <br> Rs.10000 <br>(6 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium2"><b>Total Premium</b> <br> Rs.7000 <br>(5 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium3"><b>Total Premium</b> <br> Rs.4000 <br>(4 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium4"><b>Total Premium</b> <br> Rs.3000 <br>(3 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium5"><b>Total Premium</b> <br> Rs.1500 <br>(2 Years)</mat-checkbox></p>
        
      </section>
</div>
<div>
    <div *ngIf="insuranceType === 'AutomobileInsurance' && category === 'two-wheeler'" style="border: 1px solid black;" fxLayout="column" 
    fxLayoutAlign="center" fxFlex="45%" fxLayout.xs="column">
        <h1 style="text-align: center;"><b>Additional Covers</b></h1>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra1">Road side Assistance</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra2">Personal Protect cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra3">Unnamed Passenger cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra4">Accessories</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra5">Additional Discount</mat-checkbox></p>
    </div>
</div>
                        <!-- This is the automobile insurance field for four-wheeler -->

<div fxLayoutAlign="center" *ngIf="insuranceType === 'AutomobileInsurance' && category === 'four-wheeler'">
    <section class="example-section" [formGroup]="premiumCheckBoxList" fxLayout="row" fxLayoutGap="9%" fxLayout.xs="column" fxLayoutGap.xs="0%">
        <p><mat-checkbox formControlName="Premium1"><b>Total Premium</b> <br> Rs.10000 <br>(6 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium2"><b>Total Premium</b> <br> Rs.7000 <br>(5 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium3"><b>Total Premium</b> <br> Rs.4000 <br>(4 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium4"><b>Total Premium</b> <br> Rs.3000 <br>(3 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium5"><b>Total Premium</b> <br> Rs.1500 <br>(2 Years)</mat-checkbox></p>
        
      </section>
</div>
<div>
    <div *ngIf="insuranceType === 'AutomobileInsurance' && category === 'four-wheeler'" style="border: 1px solid black;" fxLayout="column" 
    fxLayoutAlign="center" fxFlex="45%" fxLayout.xs="column">
        <h1 style="text-align: center;"><b>Additional Covers</b></h1>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra1">Road side Assistance</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra2">Personal Protect cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra3">Unnamed Passenger cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra4">Accessories</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra5">Additional Discount</mat-checkbox></p>
    </div>
</div>
                            <!-- This is the Health insurance field -->

<div fxLayoutAlign="center" *ngIf="insuranceType === 'HealthInsurance'">
    <section class="example-section" [formGroup]="premiumCheckBoxList" fxLayout="row" fxLayoutGap="9%" fxLayout.xs="column" fxLayoutGap.xs="0%">
        <p><mat-checkbox formControlName="Premium1"><b>Total Premium</b> <br> Rs.10000 <br>(6 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium2"><b>Total Premium</b> <br> Rs.7000 <br>(5 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium3"><b>Total Premium</b> <br> Rs.4000 <br>(4 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium4"><b>Total Premium</b> <br> Rs.3000 <br>(3 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium5"><b>Total Premium</b> <br> Rs.1500 <br>(2 Years)</mat-checkbox></p>
        
      </section>
</div>
<div>
    <div *ngIf="insuranceType === 'HealthInsurance'" style="border: 1px solid black;" fxLayout="column" 
    fxLayoutAlign="center" fxFlex="45%" fxLayout.xs="column">
        <h1 style="text-align: center;"><b>Additional Covers</b></h1>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra1">Road side Assistance</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra2">Personal Protect cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra3">Unnamed Passenger cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra4">Accessories</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra5">Additional Discount</mat-checkbox></p>
    </div>
</div>

                            <!-- This is the Life insurance field -->

<div fxLayoutAlign="center" *ngIf="insuranceType === 'LifeInsurance'">
    <section class="example-section" [formGroup]="premiumCheckBoxList" fxLayout="row" fxLayoutGap="9%" fxLayout.xs="column" fxLayoutGap.xs="0%">
        <p><mat-checkbox formControlName="Premium1"><b>Total Premium</b> <br> Rs.50000 <br>(10 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium2"><b>Total Premium</b> <br> Rs.45000 <br>(8 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium3"><b>Total Premium</b> <br> Rs.32000 <br>(6 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium4"><b>Total Premium</b> <br> Rs.26000 <br>(3 Years)</mat-checkbox></p>
        <p><mat-checkbox formControlName="Premium5"><b>Total Premium</b> <br> Rs.15000 <br>(2 Years)</mat-checkbox></p>
        
      </section>
</div>
<div>
    <div *ngIf="insuranceType === 'LifeInsurance'" style="border: 1px solid black;" fxLayout="column" 
    fxLayoutAlign="center" fxFlex="45%" fxLayout.xs="column">
        <h1 style="text-align: center;"><b>Additional Covers</b></h1>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra1">Road side Assistance</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra2">Personal Protect cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra3">Unnamed Passenger cover</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra4">Accessories</mat-checkbox></p>
        <p style="text-align: center;"><mat-checkbox formControlName="Extra5">Additional Discount</mat-checkbox></p>
    </div>
</div>