<div class="heading" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="30%">
        <h1 class="one" *ngIf="policySubType == '' ">
            <b>{{policyType}}</b>
        </h1>
        <h1 class="two" *ngIf="policySubType != '' ">
            <b>{{policyType}}</b>
            <b>{{policySubType}}</b>
        </h1>
    </div>
    <div fxFlex="60%">
        <h1 class="three">
            <b>{{policyTitle}}</b>
        </h1>
        <p class="description">{{policyDescription}}</p>
    </div>
</div>
<div fxLayout="column">
    <div class="choose_plan">
        <h1><b>Choose your Plan</b></h1>
    </div>
</div>
<br><br>
<div>
    <mat-radio-group [(ngModel)]="myModel" fxLayoutGap="5%" fxLayout="row" fxLayoutAlign="center">
        <mat-radio-button [value]="i" appZoomonhover="true" *ngFor="let p of premium;let i=index ">
            <b> Premium</b><br> Rs.{{p}} <br>({{duration[i]}} Years)
        </mat-radio-button>
    </mat-radio-group>
</div>
<div style="height: 495px;" fxLayout="row" fxLayoutGap="15%" >
    <mat-card class="first_card" fxFlex="45%" appZoomonhover="true" >
        <mat-card-content fxLayout="column" fxLayoutAlign="center" >
            <h1 class="additional">
                <b>Additional Covers</b>
            </h1>
            <div *ngFor="let data of addOnName; let i=index">
                <p style="padding-left: 125px;">
                    <mat-checkbox (change)="checkBox($event,i)" >
                        <b>{{data}}</b>({{addOnPrice[i]}})
                    </mat-checkbox>
                </p>
            </div>
        </mat-card-content>
      </mat-card>
    <div fxFlex="45%" fxLayout="column" fxLayoutAlign="center">
        <mat-card class="second_card" appZoomonhover="true">
            <h1 class="summary"><b>Premium Summary</b></h1>
            <div *ngFor="let d of duration;let i=index">
                <mat-card-content fxLayout="column" fxLayoutAlign="center" *ngIf="myModel == i">
                    <div>
                        <p class="d-flex justify-content-md-center">
                            <b class="col-md-6">Premium </b>{{premium[myModel]}}
                        </p>
                    </div>
                    <div>
                        <p class="d-flex justify-content-md-center">
                            <b class="col-md-6">Duration </b>{{duration[myModel]}}
                        </p>
                    </div>
                    <div *ngFor="let name of addOnName; let i=index">
                        <p *ngIf="setCheckBox[i] === true" class="d-flex justify-content-md-center">
                            <b class="col-md-6">{{name}} (AddOns)</b> {{addOnPrice[i]}}
                        </p>
                    </div>
                    <p class="d-flex justify-content-md-center">
                        <b class="col-md-6">Total Premium </b> {{calculate_premium()}}
                    </p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>
<div fxLayoutAlign="center" fxLayout="row" style="margin-top: 10%;">
    <button class="submit" fxFlex="30%" mat-raised-button color="primary" (click)="onSubmit()">Renew <mat-icon>autorenew</mat-icon></button>
</div>