.example-toolbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #4A2511;
}

.icon-display {
    transform: scale(1.2);
}

.example-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
}

.example-sid-container {
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: white;
}

.example-side {
    flex: 1;
}

button {
    outline: none;
}

mat-icon {
    transform: scale(1.3);
}

.insurify {
    display: flex;
    margin: auto auto auto 0;
    font-size: 30px;
    cursor: pointer;
}

.example-sidenav {
    padding: 20px;
}

.example-sid-sidenav {
    width: 180px;
}

.row {
    margin: 0;
}

.ren,
.clai {
    font-size: 20px;
    color: white;
}

@media screen and (max-width:800px) {
    #re {
        display: contents;
        font-size: 20px;
    }
    .renew,
    .claim {
        display: none;
    }
    .insurify {
        font-size: 20px;
    }
    mat-icon {
        transform: scale(1);
    }
}

#re {
    display: none;
}