<div class="example-container">
    <mat-toolbar class="example-toolbar">
        <div style="display: flex;">
            <div style="display: flex;margin:auto">
                <button class="menu" type="button" mat-button (click)="drawer.toggle()" style="display: flex;justify-content: center;">
          <mat-icon>menu</mat-icon>
        </button>
            </div>
            <div class="insurify" routerLink="">
                INSURIFY
            </div>
        </div>
        <div style="display: flex;">
            <!-- <div style="margin-right: 30px;">
                <button mat-button routerLink="">
          <span style="font-size: 18px;color: white;">Home</span>
        </button>
            </div> -->
            <div style="margin-right: 30px;">
                <button mat-button [matMenuTriggerFor]="motor">
          <span style="font-size: 18px;color: white;">Motor Insurance</span>
        </button>
                <mat-menu #motor="matMenu" xPosition="after">
                    <button mat-menu-item *ngFor="let motor of motors">{{motor}}</button>
                </mat-menu>
            </div>
            <div style="margin-right: 30px;">
                <button mat-button [matMenuTriggerFor]="health">
          <span style="font-size: 18px;color: white;">Health Insurance</span>
        </button>
                <mat-menu #health="matMenu" xPosition="after">
                    <button mat-menu-item *ngFor="let item of healths">{{item}}</button>
                </mat-menu>
            </div>
            <div style="margin-right: 30px;">
                <button mat-button [matMenuTriggerFor]="remewals">
          <span style="font-size: 18px;color: white;">Renewals</span>
        </button>
                <mat-menu #remewals="matMenu" xPosition="after">
                    <button mat-menu-item *ngFor="let item of renewals">{{item}}</button>
                </mat-menu>
            </div>
            <div style="margin-right: 30px;">
                <button mat-button [matMenuTriggerFor]="animals">
          <span style="font-size: 18px;color: white;">Claims</span>
        </button>
                <mat-menu #animals="matMenu" xPosition="after">
                    <button mat-menu-item *ngFor="let item of claims">{{item}}</button>
                </mat-menu>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin-right: 20px;">
                <button mat-button style="color:white;font-size: 20px;" routerLink="/login"> Login
        </button>
            </div>
            <div style="margin-right: 20px;">
                <button mat-button [matMenuTriggerFor]="menu4" aria-label="Example icon-button with a menu" matTooltip="Profile" color="white">
          <mat-icon class="icon-display">account_circle</mat-icon>
        </button>
                <mat-menu #menu4="matMenu">
                    <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit Profile</span>
          </button>
                </mat-menu>
            </div>
        </div>

    </mat-toolbar>
    <mat-drawer-container class="example-sid-container">
        <mat-drawer #drawer class="example-sid-sidenav" mode="side">
            <mat-nav-list>
                <a mat-list-item routerLink="" style="font-size: 20px;">
                    <span class="material-symbols-outlined" style="margin-right:10px">
            <mat-icon>home</mat-icon>
          </span> Home
                </a>
            </mat-nav-list>
        </mat-drawer>
        <div style="background-color: rgb(221,221,221)">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>
