@media screen and (max-width:450px) {
    p {
        font-size: 5px;
    }
    mat-form-field {
        transform: scale(0.8);
    }
}

@media screen and (max-width:1024px) {
    p {
        font-size: 15px;
    }
}