<!-- <mat-card class="mat-elevation-z8 example-card"> -->
<div class="calci">
    <p>Premium Calculator</p>
    <div class="column">
        <div style="display: flex;justify-content:space-between">
            <div style="margin:auto 0 auto 0;">
                <p>Gender</p>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Select your Gender</mat-label>
                    <select matNativeControl required [formControl]="selectFormControl">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Trans">Trans</option>
          </select>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex;justify-content:space-between">
            <div style="margin:auto 0 auto 0;">
                <p>Date Of Birth</p>
            </div>
            <div>
                <form class="example-form">
                    <mat-form-field class="example-width">
                        <mat-label>Enter Your DOB</mat-label>
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div style="display: flex;justify-content:space-between">
            <div style="margin:auto 0 auto 0;">
                <p>Mobile Number</p>
            </div>
            <div>
                <form class="example-form">
                    <mat-form-field class="example-width">
                        <span matPrefix>+91 &nbsp;</span>
                        <mat-label>Enter Your Phone no</mat-label>
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div style="display: flex;justify-content:space-between">
            <div style="margin:auto 0 auto 0;">
                <p>Email</p>
            </div>
            <div>
                <form class="example-form">
                    <mat-form-field class="example-width">
                        <mat-label>Enter Your Email Id</mat-label>
                        <input matInput>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div style="display: flex;justify-content:space-between">
            <div style="margin:auto 0 auto 0;">
                <p>Income</p>
            </div>
            <div>
                <form class="example-form">
                    <mat-form-field class="example-width">
                        <mat-label>Enter Your Annual Income</mat-label>
                        <input matInput>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div style="display: flex;justify-content:space-between">
            <div style="margin:auto 0 auto 0;">
                <p>Gender</p>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Select your Gender</mat-label>
                    <select matNativeControl required [formControl]="selectFormControl">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Trans">Trans</option>
          </select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <!-- </mat-card> -->
</div>